/*
!/*/

/basic
/david63
/basic_blue_pink/theme/images/*

/boardannouncements/*
!/boardannouncements/styles/
/boardannouncements/styles/*
!/boardannouncements/styles/basic_blue_pink/

/mchat/*
!/mchat/styles/
/mchat/styles/*
!/mchat/styles/basic_blue_pink/