<div class="forumbg prj-table">
  <div class="inner">
    <ul class="topiclist">
      <li class="header">{L_NEW_PROJECTS_TABLE}</li>
    </ul>
    <ul class="topiclist topics">
    <!-- BEGIN prj_new_projects_table -->
      <li class="row bg_2">
        <dl class="icon prj-icon {prj_new_projects_table.PROJECT_ICON}">
          <dt>
            <div class="list-inner prj-list">
              <a href="{prj_new_projects_table.U_VIEW_TOPIC}" class="topictitle prj-topictitle<!-- IF prj_new_projects_table.PROJECT_LATE --> prj-late <!-- ENDIF -->">{prj_new_projects_table.PROJECT_NAME}</a>
              <br />
            </div>
          </dt>
        </dl>
      </li>
    <!-- END prj_new_projects_table -->
    </ul>
  </div>
</div>