<div class="forumbg prj-table">
  <div class="inner">
    <ul class="topiclist">
      <li class="header">{L_RELEASES_TABLE}</li>
    </ul>
    <ul class="topiclist topics">
    <!-- BEGIN prj_releases_table -->
      <li class="row bg_2">
        <dl class="icon prj-icon<!-- IF prj_releases_table.U_VIEW_TOPIC --> releases-icon<!-- ENDIF -->">
          <dt>
            <div class="list-inner prj-list">
              <a href="{prj_releases_table.U_VIEW_TOPIC}" class="topictitle prj-topictitle">{prj_releases_table.PROJECT_NAME}</a>
              <br />
            </div>
          </dt>
        </dl>
      </li>
    <!-- END prj_releases_table -->
    </ul>
  </div>
</div>