<div id="releases_table">
  <div class="foragb elegant">
    <div class="inner">
      <ul class="topiclist">
        <li class="header">
          <a class="forum-toggle" herf="#"></a>
        </li>
      </ul>
      <!-- BEGIN prj_releases_table -->
      <ul class="topiclist topics">
        <li class="row bg_2">
          <dl class="icon releases-icon">
            <div class="list-inner">
              <a href="{prj_releases_table.U_VIEW_TOPIC}" class="topictitle">{prj_releases_table.PROJECT_NAME}</a>
              <br />
              <div class="responsive-hide">{L_PRJ_HOSTED_BY}
                <a href="{prj_releases_table.U_VIEW_PROFILE}" style="color: {prj_releases_table.HOST_COLOR};" class="username-coloured">{prj_releases_table.HOST}</a>
              </div>
            </div>
          </dl>
        </li>
      </ul>
      <!-- END prj_releases_table -->
    </div>
  </div>
</div>