.prj-stages-header {
  width: auto;
  position: relative;
  margin: 0 auto;
  display: table;
}
.prj-stages-inner {
  height: 27px;
  border: solid #E4E4E4;
  border-width: 1px 1px 0 1px;
}
.prj-stages-inner > ul {
  list-style: none;
  margin: 0 15px;
}
.prj-stages-inner > ul > li {
  display: inline-block;
  padding: 0 10px;
  color: #a4a4a4;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.prj-stages-inner > ul > li:hover > div > div {
  display: block;
}
.prj-current-stage {
  color: #000 !important;
  background-color: #FFF4F9;
  border: solid;
  border-width: 3px;
  border-top-color: #FFFAFA;
  border-right-color: #FFFAFA;
  border-left-color: #FFEBEB;
  border-bottom-color: #FFEBEB;
}
.prj-current-stage > div {
  margin: -3px;
}
.prj-deadline-date {
  font-size: 10px;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  white-space: nowrap;
}
.prj-divider {
  padding: 0 !important;
  height: 27px;
  border: solid #E4E4E4;
  border-width: 0 0 0 1px;
}
.prj-date-box {
  width: 100%;
  height: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}